.content {
  padding-top:100px;
  padding-bottom:100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.linkedin {
  height: 100px;
  width: auto;
}

.github{
  height: 100px;
  width: 100px;  
}